{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <!--begin::Card-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="flaticon2-analytics-1"></i>
                </span>
                <h3 class="kt-portlet__head-title">Dashboard</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <p>Welcome to the Metronic Dashboard!</p>
        </div>
    </div>
    <!--end::Card-->
</div>
{% endblock %}
